@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* ::-webkit-scrollbar {
  width: 24px;
  height: 24px;
} */

/* ::-webkit-scrollbar-track {
  @apply bg-transparent;
} */

/* ::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  background-clip: content-box;
  @apply bg-primary rounded-full;
} */

html {
  font-family: 'Open Sans', serif;
  scroll-behavior: smooth;
}

body {
  @apply w-full h-full bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  @apply uppercase whitespace-normal;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
  @apply text-grey font-bold;
}

h2 {
  font-size: 3.5rem;
  @apply text-grey font-bold;
}

h3 {
  font-size: 1.8rem;
  @apply text-grey font-bold;
}

h4 {
  font-size: 1.35rem;
}

.p-drawer {
  border: none !important;
}
