@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Self-hosted fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/open-sans-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('/fonts/open-sans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/open-sans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/saira-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('/fonts/saira-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('/fonts/saira-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/saira-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira Extra Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url('/fonts/saira-800.ttf') format('truetype');
}

/* ::-webkit-scrollbar {
  width: 24px;
  height: 24px;
} */

/* ::-webkit-scrollbar-track {
  @apply bg-transparent;
} */

/* ::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  background-clip: content-box;
  @apply bg-primary rounded-full;
} */

html {
  font-family: 'Open Sans', serif;
  scroll-behavior: smooth;
}

body {
  @apply w-full h-full bg-white overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  @apply uppercase whitespace-normal;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
  @apply text-grey font-bold;
}

h2 {
  font-size: 3.5rem;
  @apply text-grey font-bold;
}

h3 {
  font-size: 1.8rem;
  @apply text-grey font-bold;
}

h4 {
  font-size: 1.35rem;
}

.p-drawer {
  border: none !important;
}
